<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <ul class="nav nav-tabs">

      {% url 'home' as the_home %}
      <li role="presentation" {% if request.path == the_home %}
          class="active"{% endif %}>
         <a href="{% url 'home' %}">Customers list</a>
      </li>

      {% url 'customer_add' as the_customer_add %}
      <li role="presentation" {% if request.path == the_customer_add %}
          class="active"{% endif %}>
        <a href="{% url 'customer_add' %}">Add customer</a>
      </li>

      {% url 'login' as the_login %}
      <li role="presentation" {% if request.path == the_login %}
          class="active"{% endif %}>
        <a href="{% url 'login' %}">
          {% if user and not user.is_anonymous %}
            {{ user.get_short_name }}
          {% else %}
            Login
          {% endif %}
        </a>
      </li>

    </ul>
    {% block content %}{% endblock content %}
    </div>
    <div class="col-md-4">
    </div>
    </div>
  </body>
</html>
