{% extends "base.html" %}

{% block content %}
{% if customers %}
  <H2 align="center"> List of all customers: </H2>
  <table class="table table-striped ">
      <th class="info"> First name </th>
      <th class="info"> Last name </th>
      <th class="info"> Iban </th>
      <th class="info"> Delete </th>
    <tr>
    <tbody>
    {% for customer in customers %}
      <td><a href = "{% url 'customer_edit' customer.id %}"> {{customer.first_name}}</a></td>
      <td><a href = "{% url 'customer_edit' customer.id %}">{{customer.last_name}}</a></td>
      <td><a href = "{% url 'customer_edit' customer.id %}">{{customer.iban}}</a></td>
      <td><a href="{% url 'customer_delete' customer.id %}">Delete</a> 
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
    <br>
    <H2 align="center">You don't have any customers yet!</H2>
{% endif %}

{% endblock content %}
